@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure body and root take full height */
html, body, #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Make main content expand to push footer down */
  main {
    flex: 1;
  }
  